{{#each this}}
<li>
    <div class="photo-card">
        <img src="" alt="">

  <div class="info">
        <p class="stats-item">
           
           
        </p>
        <p class="stats-item">
          
         
        </p>
        <p class="stats-item">
            <i class="material-icons">room</i>
          
        </p>
    </div>
    </div>
</li>
{{/each}}